.product-image-wrapper {
    border: 1px solid #f7f7f5;
    overflow: hidden;
    margin-bottom: 30px;
  }
  .single-products {
    position: relative;
  }
  .features_items {
    overflow: hidden;
  }
.img-food {
  height:400px;
  width:400px;
}
